h2 {
  font-size: 1.25em;
}

h3 {
  font-size: .75em;
}

main {
  margin: auto;
  text-align: justify;
  max-width: 900px;
}

.quotes {
  margin-left: 10px;
  font-size: .75em;
}


#about_photo {
  display: block;
  margin: 0 auto;
    }

footer {
  font-size: .75em;
}

#resource_link {
  font-size: .75em;
}

#contact_links {
  list-style-type: none;
}

.block {
  display: inline-block;
  background-color: #BDBDBD;
  padding-left: .25em;
  padding-right: .25em;

}