html {
  background-color: #FFFFD4;
  font-family: Futura;
  color: #B24432;
}

#nav_bar {
  background-color: #B24432;
  width: 100%;
  height: 2.25em;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: .75em;
}
#nav_bar li {
  margin: 10px;
  margin-right: 15px;
}

a.nav_link {
  font-size: 1.25em;
  text-decoration: none;
  color: #FFFFD4;
}
a.nav_link:visited {
  color: #FFFFD4;
}



#nav_bar li {

  display: inline;
  margin: auto;
  text-align: center;
  vertical-align: center;
  padding: 15px;

}


a {
    color: #74BDCC;
}

a:visited {
    color: #5F374A;
}

p{
    text-align: justify;
}

h1 {
  font-size: 2em;
}

