
#bio {
    width: 225px;
    float: left;
    margin-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

#blog_posts{
  margin-top: 5px;
  margin-left: 10px;

}

#bpost_titles{
  font-size: 1.5em;
  list-style-type: none;
  margin-left: 10px;
  padding-left: 20px;
}

#bpost_titles li{
  margin-bottom: 1em;
  margin-left: 10px;

}

figure {
    margin-top: 15px;
    margin-left: 0;

}