
#bio {
    width: 225px;
    float: left;
    margin-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

#blog_posts{
  margin-left: 20px;

}

#bpost_titles{
  font-size: 1.5em;
  list-style-type: none
}

figure {
    margin-top: 15px;
    margin-left: 0;

}